@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

#root {
  width: 100%;
  height: 100%;
}
main{
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 2rem;
}