@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

#root {
  width: 100%;
  height: 100%;
}
main{
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 2rem;
}
.MuiPagination-ul{
  justify-content: center;
}
.MuiPagination-ul li button{
  color: #fff;
}
.navbar{
  border-bottom: 1px solid yellow;
}